<header>
    <div class="header-area">
        <div class="main-header ">
            
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">

                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index-2.html"><img src="assets/img/logo/logo.png" alt></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">

                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Class</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li>
                                            <div class="header-right-btn f-right  ml-15">
                                                <a href="login.html" class="header-btn">Strat</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>