{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        <h1>Voice Mathematics Problem Solver</h1>
        <div class="d-flex justify-content-around align-items-center w-100">
            <img src="{% static 'assets/img/microphone.png' %}" alt="Microphone" style="width: 300px; height: auto;">
            <div>
                <h4>Suali Lililoulizwa</h4>
                <p>Juma alikwenda sokoni kununua matunda. Alinunua kilogramu 4 za mapera, kilogramu 2.5 za ndizi, na kilogramu 1.8 za machungwa. Ikiwa kila kilogramu ya mapera inagharimu Shilingi 500 za Kitanzania, ndizi zinagharimu Shilingi 700 kwa kilogramu, na machungwa yanagharimu Shilingi 600 kwa kilogramu, Juma alitumia kiasi gani pesa kwa jumla kununua matunda?</p>
            
                <!-- Solution Steps -->
                <h4><strong>Hatua 1</strong></h4>
                <p>Gharama ya mapera: 4 kg × 500 TZS/kg = 2000 TZS. Juma alitumia 2000 TZS kwa kununua mapera.</p>
            
                <h4><strong>Hatua 2</strong></h4>
                <p>Gharama ya ndizi: 2.5 kg × 700 TZS/kg = 1750 TZS. Juma alitumia 1750 TZS kwa kununua ndizi.</p>
            
                <h4><strong>Hatua 3</strong></h4>
                <p>Gharama ya machungwa: 1.8 kg × 600 TZS/kg = 1080 TZS. Juma alitumia 1080 TZS kwa kununua machungwa.</p>
            
                <h4><strong>Hatua 4</strong></h4>
                <p>Jumla ya pesa aliyotumia ni: 2000 TZS (mapera) + 1750 TZS (ndizi) + 1080 TZS (machungwa) = 4830 TZS.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}