{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Voice Mathematics Problem Solver</h1>
        </div>
    </div>
    <div class="row vh-100">
        <div class="col-6 d-flex justify-content-center align-items-center flex-col">
            <img src="{% static 'assets/img/microphone.png' %}" alt="Microphone" style="width: 400px; height: auto;">
            <!-- record button-->
            <button class="btn btn-primary btn-lg" id="recordButton">Record</button>
        </div>
        <div class="col-6">
            <!-- Display cards here -->
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Solution Panel</h3>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            The question asked
                        </div>
                        <div class="card-body">
                            <!-- Display the question here -->
                        </div>
                    </div>
                    <!-- Add 4 cards for the steps -->
                    <div class="card">
                        <div class="card-header">
                            Step 1
                        </div>
                        <div class="card-body">
                            <!-- Display the instruction for step 1 here -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Step 2
                        </div>
                        <div class="card-body">
                            <!-- Display the instruction for step 2 here -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Step 3
                        </div>
                        <div class="card-body">
                            <!-- Display the instruction for step 3 here -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Step 4
                        </div>
                        <div class="card-body">
                            <!-- Display the instruction for step 4 here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}